<h1>Payment Results</h1>

<dl>
  <dt>APR</dt>
  <dd><%= (@r * 12 * 100).to_fs(:percentage, {:precision => 4}) %></dd>
  <dt>Number of years</dt>
  <dd><%= (@periods/12).to_i %></dd>
  <dt>Principal</dt>
  <dd><%= @pv.to_fs(:currency) %></dd>
  <dt>Payment</dt>
  <dd><%= @payment.to_fs(:currency) %></dd>
</dl>

<div>
  <a href="/payment/new">Calculate another payment</a>
</div>
