<form action="/square_root/results">
  <div>
    <label for="number_id">Enter a number</label>
  </div>
  <div>
    <input id="number_id" name="number" placeholder="What number do you want to square root?">
  </div>
  <div>
    <button>Calculate square root</button>
  </div>
</form>
